body {
    background-image:url(img/leg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

   }

.haut {
    height: 5rem;
    
    margin-bottom: 5rem;
}

.retourProfil {

    background-color: #6D071A;
    padding: 8px;
    color: white;
    border-radius: 20% 20%;
    font-weight: bold;

}


img[alt="logo profil"] {
    width: 3rem;
    height: 3rem;

}

.boxHistorique{
    height: 10rem;
   
    
}

.boutonH{
    margin-left: 4rem;
  
    background-color:   rgba(0, 202, 105, 0.5);
    font-size: 1.8rem ;
    border-radius: 10px;
    color: white;
    width: 17rem;
    margin-top: 2rem ;
    padding: 1rem;
    
   
}

.logoHistorique{
    
    margin-right: 1rem;
    width: 3rem;
    height: 3rem;
}

.boutons{
    height: 34rem;
    border-top: 3rem;


    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7rem;
}

.item{
    
    margin-left: 3.5rem;
    border-radius: 55% 55%;
    background-color:  rgba(4, 78, 223, 1);
    color: white;
    width: 17rem;
    height: 6rem;
}